[submodule "src/lazy_agent_sim"]
	path = src/lazy_agent_sim
	url = https://github.com/eshjordan/lazy_agent_sim.git
[submodule "src/webots_ros2"]
	path = src/webots_ros2
	url = https://github.com/cyberbotics/webots_ros2.git
