[submodule "src/lazy_agent_sim"]
	path = src/lazy_agent_sim
	url = https://github.com/eshjordan/lazy_agent_sim.git
[submodule "src/webots_ros2"]
	path = src/webots_ros2
	url = https://github.com/cyberbotics/webots_ros2.git
[submodule "src/epuck_driver_cpp"]
	path = src/epuck_driver_cpp
	url = https://github.com/gctronic/epuck_driver_cpp.git
	branch = e-puck2_wifi
